/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #d00c34;
  --vp-c-brand-light: #f21d48;
  --vp-c-brand-lighter: #f21d48;
  --vp-c-brand-dark: #d52448;
  --vp-c-brand-darker: #d52448;

  --vp-c-yellow-darker: #856710;
}

.VPSidebarItem {
  .VPLink.link {
    display: flex;
    flex-grow: unset;
  }

  .VPLink.link svg {
    align-self: center
  }
}

html.dark {
  --vp-c-brand: #fa9a00;
  --vp-c-brand-light: #fa9a00;
  --vp-c-brand-lighter: #fa9a00;
  --vp-c-brand-dark: #ffaf2e;
  --vp-c-brand-darker: #ffaf2e;

  --vp-custom-block-danger-border: rgb(243, 119, 158, 0.25);
  --vp-custom-block-danger-text: #f3779e;

  .VPButton.brand {
    color: var(--vp-c-black);
  }

  .VPButton.brand:hover {
    color: var(--vp-c-black);
  }
}
