/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #d00c34;
  --vp-c-brand-light: #f21d48;
  --vp-c-brand-lighter: #f21d48;
  --vp-c-brand-dark: #d52448;
  --vp-c-brand-darker: #d52448;

  --vp-custom-block-danger-text: var(--vp-c-red);
  --vp-custom-block-danger-border: var(--vp-c-red);

  --vp-custom-block-warning-text: var(--vp-c-yellow);
  --vp-custom-block-warning-border: var(--vp-c-yellow);

  --vp-custom-block-tip-text: var(--vp-c-green);
  --vp-custom-block-tip-border: var(--vp-c-green);
}

.VPSidebarItem {
  .VPLink.link {
    flex-grow: unset;
  }
}

html.dark {
  --vp-c-brand: #fa9a00;
  --vp-c-brand-light: #fa9a00;
  --vp-c-brand-lighter: #fa9a00;
  --vp-c-brand-dark: #ffaf2e;
  --vp-c-brand-darker: #ffaf2e;

  --vp-custom-block-danger-text: var(--vp-c-red-light);
  --vp-custom-block-danger-border: var(--vp-c-red-light);

  --vp-custom-block-warning-text: var(--vp-c-yellow-lighter);
  --vp-custom-block-warning-border: var(--vp-c-yellow-lighter);

  --vp-custom-block-tip-text: var(--vp-c-green-light);
  --vp-custom-block-tip-border: var(--vp-c-green-light);

  .VPButton.brand {
    color: var(--vp-c-black);
  }

  .VPButton.brand:hover {
    color: var(--vp-c-black);
  }
}
