:root {
  scroll-behavior: smooth;

  // custom max width
  --content-width: 1080px;

  // brand colors
  --c-brand: #d00c34;
  --c-brand-light: #d52448;

  // custom container colors
  --c-tip: #d93d5d;
}

html.dark {
  // brand colors
  --c-brand: #fca824;
  --c-brand-light: #e39720;

  // custom container colors
  --c-tip: #ca861d;
  --c-warning: #e6a700;
  --c-warning-bg: #4d3800;
  --c-warning-title: #ffefc6;
  --c-warning-text: #fff8e6;
  --c-danger: #e13238;
  --c-danger-bg: #4b1113;
  --c-danger-title: #fdd5d7;
  --c-danger-text: #ffebec;
  --c-details-bg: #323843;
}
