@media print {
  .VPNav,
  .VPLocalNav,
  .VPSidebar,
  .VPDocFooter {
    display: none !important;
  }

  div details {
    page-break-inside: avoid;
  }
}

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image--opened {
  z-index: 31;
}
